@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --white: hsla(0, 0%, 100%, 0.75);
    --gray: hsl(0, 0%, 95%);
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark-cyan: hsl(179, 100%, 13%);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 15px;
}

body {
    background-color: var(--gray);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1em;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: inherit;
    height: calc(100% - 2vh);
    /* substracted 2vh for the attribution*/
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
}

.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (300px)[3];
    grid-template-columns: repeat(3, 300px);
    height: 500px;
}


.sedans {
    background-color: var(--orange);
    color: var(--orange);
    border-radius: 10px 0 0 10px;
}

.suvs {
    background-color: var(--cyan);
    color: var(--cyan);
}

.luxury {
    background-color: var(--dark-cyan);
    color: var(--dark-cyan);
    border-radius: 0 10px 10px 0;
}

.card {
    padding: 50px 40px 0 50px;
}

h2 {
    color: var(--gray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5em;
    text-transform: uppercase;
}

.card p {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--white);
    height: 35%;
    font-size: 15px;
    line-height: 1.7;
}


.button {
    background-color: var(--gray);
    border-radius: 500px;
    border: 2px solid var(--gray);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
    height: 10%;
    margin-top: 25%;
    -webkit-transition: background-color 250ms linear, color 150ms ease-in;
    transition: background-color 250ms linear, color 150ms ease-in;
}

.button p {
    line-height: 1 !important;
    color: inherit;
    font-weight: 400;
}

.button:hover,
.button:focus {
    color: white;
    background-color: inherit;
    cursor: pointer;
}


@media screen and (max-width:1080px) {
    .container {
        -ms-grid-columns: (275px)[3];
        grid-template-columns: repeat(3, 275px);
    }

    .button {
        width: 100%;
    }

}

.attribution {
    font-size: 1.5vh;
    text-align: center;
    color: #00403f;
}

.attribution a {
    color: #29978a;
}

@media screen and (max-width:850px) {
    main {
        height: 1400px;
        align-content: space-between;
    }

    .container {
        -ms-grid-columns: 320px;
        grid-template-columns: 320px;
        grid-auto-flow: row;
        margin-top: 60px;
        height: calc(3*350px);
    }

    .card {
        height: 350px;
        padding: 35px 50px 35px 35px;
    }

    .sedans {
        border-radius: 10px 10px 0 0;
    }

    .luxury {
        border-radius: 0 0 10px 10px;
    }

    .button {
        margin:35px;
        width: 65%;
        height: 13%;
    }

    .attribution {
        display: none;
    }
}


/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 2 version
*/
